@model IEnumerable<PizzaV5.Models.PizzaModelFromDb>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaPrice)
            </td>
        </tr>
}
    </tbody>
</table>
